@using FRCGroove.Lib.Models.Groove
@model FRCGroove.Web.Models.EventListing

@{
    ViewBag.Title = "FRC Groove";
}

<style>
    td {
        padding: 0px 5px 0px 5px
    }

    tr:nth-child(odd) {
        background-color: none;
    }

    tr:nth-child(even) {
        background-color: rgba(51, 51, 153, 0.15);
    }

    .card-body {
        padding: 0.5rem 0.75rem 0.5rem 0.75rem
    }
</style>

@Html.Partial("Navigation", "Events")

<div>
    <p>@Html.DropDownList("districtKey", new SelectList(Model.Districts, "key", "name"), new { onchange = "location = '?districtKey=' + this.value;" })</p>

    @if (Model.CurrentEvents == null && Model.PastEvents == null && Model.FutureEvents == null)
    {
        List<string> _champs = new List<string>() { { "CARVER" }, { "GALILEO" }, { "HOPPER" }, { "NEWTON" }, { "ROEBLING" }, { "TURING" } };
        foreach (string _eventCode in _champs)
        {
            <div>@Html.ActionLink(_eventCode, "Index", "FRCEvent", new { eventCode = _eventCode }, null)</div>
        }
    }

    <div id="accordion">
        @if (Model.CurrentEvents != null && Model.CurrentEvents.Count > 0)
        {
            <div class="card" style="margin-bottom: 5px">
                <a data-toggle="collapse" data-target="#collapseOne" style="cursor:pointer">
                    <h5 class="card-header" id="headingOne">
                        Current Events
                    </h5>
                </a>
                <div id="collapseOne" class="collapse show" data-parent="#accordion">
                    <div class="card-body">
                        <table style="width:100%" id="currentEvents">
                            @foreach (GrooveEvent e in Model.CurrentEvents)
                            {
                                <tr style="background-color: none">
                                    <td>@Html.ActionLink(e.name, "Index", "FRCEvent", new { eventCode = e.key }, null)</td>
                                    <td style="margin: 0 0 5px 5px">@e.dateStart.ToString("ddd M/d")</td>
                                    <td style="margin: 0 0 5px 5px">@e.dateEnd.ToString("ddd M/d")</td>
                                </tr>
                            }
                        </table>
                    </div>
                </div>
            </div>
        }
        @if (Model.PastEvents != null && Model.PastEvents.Count > 0)
        {
            <div class="card" style="margin-bottom: 5px">
                <a data-toggle="collapse" data-target="#collapseTwo" style="cursor:pointer">
                    <h5 class="card-header" id="headingTwo">
                        Past Events
                    </h5>
                </a>
                <div id="collapseTwo" class="collapse @((Model.CurrentEvents == null || Model.CurrentEvents.Count == 0) ? "show" : "")" data-parent="#accordion">
                    <div class="card-body">
                        <table style="width:100%">
                            @foreach (GrooveEvent e in Model.PastEvents)
                            {
                                <tr>
                                    <td>@Html.ActionLink(e.name, "Index", "FRCEvent", new { eventCode = e.key }, null)</td>
                                    <td width="40px">@e.dateStart.ToString("ddd M/d")</td>
                                    <td width="40px">@e.dateEnd.ToString("ddd M/d")</td>
                                </tr>
                            }
                        </table>
                    </div>
                </div>
            </div>
        }

        @if (Model.FutureEvents != null && Model.FutureEvents.Count > 0)
        {
            <div class="card">
                <a data-toggle="collapse" data-target="#collapseThree" style="cursor:pointer">
                    <h5 class="card-header" id="headingThree">
                        Future Events
                    </h5>
                </a>
                <div id="collapseThree" class="collapse @((Model.CurrentEvents == null || Model.CurrentEvents.Count == 0) && (Model.PastEvents == null || Model.PastEvents.Count == 0)? "show" : "")" data-parent="#accordion">
                    <div class="card-body">
                        <table style="width:100%">
                            @foreach (GrooveEvent e in Model.FutureEvents)
                            {
                                <tr>
                                    <td>@Html.ActionLink(e.name, "Index", "FRCEvent", new { eventCode = e.key }, null)</td>
                                    <td style="margin: 0 0 5px 5px">@e.dateStart.ToString("ddd M/d")</td>
                                    <td style="margin: 0 0 5px 5px">@e.dateEnd.ToString("ddd M/d")</td>
                                </tr>
                            }
                        </table>
                    </div>
                </div>
            </div>
        }
    </div>
</div>