@using FRCGroove.Lib.Models
@model FRCGroove.Web.Models.FRCEventListing

@{
    ViewBag.Title = "FRC Groove";
}

<style>
    td {
        padding: 0px 5px 0px 5px
    }

    tr:nth-child(odd) {
        background-color: none;
    }

    tr:nth-child(even) {
        background-color: rgba(51, 51, 153, 0.15);
    }

    .card-body {
        padding:0.5rem 0.75rem 0.5rem 0.75rem
    }
</style>

@Html.Partial("Navigation", "Events")

<div>
    <p>@Html.DropDownList("districtCode", new SelectList(Model.Districts, "code", "name"), new { onchange = "location = '?districtCode=' + this.value;" })</p>

    <div id="accordion">
        @if (Model.CurrentEvents != null && Model.CurrentEvents.Count > 0)
        {
            <div class="card" style="margin-bottom: 5px">
                <a data-toggle="collapse" data-target="#collapseOne" style="cursor:pointer">
                    <h5 class="card-header" id="headingOne">
                        Current Events
                    </h5>
                </a>
                <div id="collapseOne" class="collapse show" data-parent="#accordion">
                    <div class="card-body">
                        <table style="width:100%" id="currentEvents">
                            @foreach (Event frcEvent in Model.CurrentEvents)
                            {
                                <tr style="background-color: none">
                                    @*<td>@frcEvent.districtCode</td>*@
                                    <td>@Html.ActionLink(frcEvent.code, "Index", "FRCEvent", new { eventCode = frcEvent.code }, null)</td>
                                    <td>@frcEvent.name</td>
                                    <td>@frcEvent.dateStart.ToString("ddd M/d")</td>
                                    <td>@frcEvent.dateEnd.ToString("ddd M/d")</td>
                                </tr>
                            }
                        </table>
                    </div>
                </div>
            </div>
        }
        @if (Model.PastEvents != null && Model.PastEvents.Count > 0)
        {
            <div class="card" style="margin-bottom: 5px">
                <a data-toggle="collapse" data-target="#collapseTwo" style="cursor:pointer">
                    <h5 class="card-header" id="headingTwo">
                        Past Events
                    </h5>
                </a>
                <div id="collapseTwo" class="collapse @((Model.CurrentEvents == null || Model.CurrentEvents.Count == 0) ? "show" : "")" data-parent="#accordion">
                    <div class="card-body">
                        <table style="width:100%">
                            @foreach (Event frcEvent in Model.PastEvents)
                            {
                                <tr>
                                    @*<td>@frcEvent.districtCode</td>*@
                                    <td>@Html.ActionLink(frcEvent.code, "Index", "FRCEvent", new { eventCode = frcEvent.code }, null)</td>
                                    <td>@frcEvent.name</td>
                                    <td>@frcEvent.dateStart.ToString("ddd M/d")</td>
                                    <td>@frcEvent.dateEnd.ToString("ddd M/d")</td>
                                </tr>
                            }
                        </table>
                    </div>
                </div>
            </div>
        }

        @if (Model.FutureEvents != null && Model.FutureEvents.Count > 0)
        {
            <div class="card">
                <a data-toggle="collapse" data-target="#collapseThree" style="cursor:pointer">
                    <h5 class="card-header" id="headingThree">
                        Future Events
                    </h5>
                </a>
                <div id="collapseThree" class="collapse @((Model.CurrentEvents == null || Model.CurrentEvents.Count == 0) && (Model.PastEvents == null || Model.PastEvents.Count == 0)? "show" : "")" data-parent="#accordion">
                    <div class="card-body">
                        <table style="width:100%">
                            @foreach (Event frcEvent in Model.FutureEvents)
                            {
                                <tr>
                                    @*<td>@frcEvent.districtCode</td>*@
                                    <td>@Html.ActionLink(frcEvent.code, "Index", "FRCEvent", new { eventCode = frcEvent.code }, null)</td>
                                    <td>@frcEvent.name</td>
                                    <td>@frcEvent.dateStart.ToString("ddd M/d")</td>
                                    <td>@frcEvent.dateEnd.ToString("ddd M/d")</td>
                                </tr>
                            }
                        </table>
                    </div>
                </div>
            </div>
        }
    </div>
</div>