@using FRCGroove.Lib.models
@model FRCGroove.Web.Models.FRCEventListing

@{
    ViewBag.Title = "FRC Groove";
}

<div>
    @if (Model.CurrentEvents != null)
    {
        <p style="font-weight: bold;">Current Events</p>
        <table width="100%">
            @foreach (Event frcEvent in Model.CurrentEvents)
            {
                <tr>
                    @*<td>@frcEvent.districtCode</td>*@
                    <td>@Html.ActionLink(frcEvent.code, "FRCEvent", new { eventCode = frcEvent.code })</td>
                    <td>@frcEvent.name</td>
                    <td>@frcEvent.dateStart.ToString("ddd M/d")</td>
                    <td>@frcEvent.dateEnd.ToString("ddd M/d")</td>
                </tr>
            }
        </table>
        <br />
    }

    @if (Model.PastEvents != null)
    {
        <p style="font-weight: bold;">Past Events</p>
        <table width="100%">
            @foreach (Event frcEvent in Model.PastEvents)
            {
                <tr>
                    @*<td>@frcEvent.districtCode</td>*@
                    <td>@Html.ActionLink(frcEvent.code, "FRCEvent", new { eventCode = frcEvent.code })</td>
                    <td>@frcEvent.name</td>
                    <td>@frcEvent.dateStart.ToString("ddd M/d")</td>
                    <td>@frcEvent.dateEnd.ToString("ddd M/d")</td>
                </tr>
            }
        </table>
        <br />
    }

    @if (Model.CurrentEvents != null)
    {
        <p style="font-weight: bold;">Future Events</p>
        <table width="100%">
            @foreach (Event frcEvent in Model.FutureEvents)
            {
                <tr>
                    @*<td>@frcEvent.districtCode</td>*@
                    <td>@Html.ActionLink(frcEvent.code, "FRCEvent", new { eventCode = frcEvent.code })</td>
                    <td>@frcEvent.name</td>
                    <td>@frcEvent.dateStart.ToString("ddd M/d")</td>
                    <td>@frcEvent.dateEnd.ToString("ddd M/d")</td>
                </tr>
            }
        </table>
    }

</div>