<!DOCTYPE html>
<html>
<head>
    @if (System.Configuration.ConfigurationManager.AppSettings["gakey"] != null && System.Configuration.ConfigurationManager.AppSettings["gakey"].Length > 0)
    {
        //https://developers.google.com/analytics/devguides/collection/gtagjs/
        //https://developers.google.com/analytics/devguides/collection/gtagjs/migration
        <!-- Global site tag (gtag.js) - Google Analytics -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=@System.Configuration.ConfigurationManager.AppSettings["gakey"]"></script>
        <script>
            window.dataLayer = window.dataLayer || [];
            function gtag(){dataLayer.push(arguments);}
            gtag('js', new Date());

            gtag('config', '@System.Configuration.ConfigurationManager.AppSettings["gakey"]');
        </script>
    }

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">

    @*@Scripts.Render("~/bundles/modernizr")*@
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")

    @Styles.Render("~/Content/css")

    @*@Scripts.Render("~/Scripts/stickyheader.js")*@
</head>
<body style="margin-bottom:40px">
    <script>
        $(document).ready(function () {
            if ($(window).scrollTop() > 200) {
                if ($('#filterToggle')) $('#filterToggle').fadeOut('fast');
            }
            $(window).scroll(function () {
                if ($(this).scrollTop() > 200) {
                    if ($('#filterToggle')) $('#filterToggle').fadeOut('fast');
                } else {
                    if ($('#filterToggle')) $('#filterToggle').fadeIn('fast');
                }
            });
        });

        //TODO: honor dark mode (requires Bootstrap 5.3 which is currently in alpha and breaks my site)
        /*
        window.matchMedia('(prefers-color-scheme: dark)').addEventListener('change', () => {
            switchColorScheme();
        });

        function switchColorScheme() {
            document.querySelector('html').dataset.bsTheme = window.matchMedia('(prefers-color-scheme: dark)').matches
                ? "dark"
                : "light";
        }

        switchColorScheme();
        */
    </script>

    <div class="container body-content">
        @RenderBody()
    </div>

    @RenderSection("scripts", required: false)
</body>
</html>
