@using FRCGroove.Lib.Models
@using FRCGroove.Web.Models
@model FRCGroove.Web.Models.Dashboard

<div>
    @{
        List<Match> playoffs = Model.Matches.Where(m => m.tournamentLevel == "Playoff" && m.title.EndsWith("1")).ToList();
        Dictionary<int, string> teamClasses = new Dictionary<int, string>();
        foreach (Match playoff in playoffs)
        {
            foreach (Team team in playoff.teams)
            {
                if (Model.TeamsOfInterest.Count(t => t.number == team.number) > 0)
                {
                    teamClasses[team.number] = "teamOfInterest";
                }
                else { teamClasses[team.number] = string.Empty; }

                if (team.station.StartsWith("Red") && playoff.scoreBlueFinal < playoff.scoreRedFinal)
                {
                    teamClasses[team.number] += " redWin";
                }
                else if (team.station.StartsWith("Blue") && playoff.scoreBlueFinal > playoff.scoreRedFinal)
                {
                    teamClasses[team.number] += " blueWin";
                }
            }
        }

        <table style="width: 100%">
            <tr><td colspan="10"><a name="Brackets"></a><div class="followMeBar">Brackets</div></td></tr>
            <tr>
                <td width="16%" style="border-right:none">@TeamListing("qf1-red", teamClasses, "red")</td>
                <td style="border-left:none">@BracketProgress("qf1-red", "sf1-red", "right")</td>

                <td rowspan="2" width="16%" style="border-right:none">@TeamListing("sf1-red", teamClasses, "red")</td>
                <td rowspan="2" style="border-left:none">@BracketProgress("sf1-red", "f-red", "right")</td>

                <td rowspan="4" width="16%" style="color:red">@TeamListing("f-red", teamClasses, "red")</td>

                <td rowspan="4" width="16%" style="color:blue">@TeamListing("f-blue", teamClasses, "blue")</td>

                <td rowspan="2" style="border-right:none">@BracketProgress("sf2-red", "f-blue", "left")</td>
                <td rowspan="2" width="16%" style="border-left:none; color:red">@TeamListing("sf2-red", teamClasses, "red")</td>

                <td style="border-right:none">@BracketProgress("qf3-red", "sf2-red", "left")</td>
                <td width="16%" style="border-left:none; color:red">@TeamListing("qf3-red", teamClasses, "red")</td>
            </tr>
            <tr>
                <td style="border-right:none; color:blue">@TeamListing("qf1-blue", teamClasses, "blue")</td>
                <td style="border-left:none">@BracketProgress("qf1-blue", "sf1-red", "right")</td>

                <td style="border-right:none">@BracketProgress("qf3-blue", "sf2-red", "left")</td>
                <td style="border-left:none; color:blue">@TeamListing("qf3-blue", teamClasses, "red")</td>
            </tr>
            <tr>
                <td style="border-right:none; color:red">@TeamListing("qf2-red", teamClasses, "red")</td>
                <td style="border-left:none">@BracketProgress("qf2-red", "sf1-blue", "right")</td>

                <td rowspan="2" style="border-right:none; color:blue">@TeamListing("sf1-blue", teamClasses, "blue")</td>
                <td rowspan="2" style="border-left:none">@BracketProgress("sf1-blue", "f-red", "right")</td>

                <td rowspan="2" style="border-right:none">@BracketProgress("sf2-blue", "f-blue", "left")</td>
                <td rowspan="2" style="border-left:none; color:blue">@TeamListing("sf2-blue", teamClasses, "blue")</td>

                <td style="border-right:none">@BracketProgress("qf4-red", "sf2-blue", "left")</td>
                <td style="border-left:none; color:red">@TeamListing("qf4-red", teamClasses, "red")</td>
            </tr>
            <tr>
                <td style="border-right:none; color:blue">@TeamListing("qf2-blue", teamClasses, "blue")</td>
                <td style="border-left:none">@BracketProgress("qf2-blue", "sf1-blue", "right")</td>

                <td style="border-right:none">@BracketProgress("qf4-blue", "sf2-blue", "left")</td>
                <td style="border-left:none; color:blue">@TeamListing("qf4-blue", teamClasses, "blue")</td>
            </tr>
        </table>
    }
</div>

@helper TeamListing(string bracketId, Dictionary<int, string> classes, string color)
{
if (Model.Bracket.brackets[bracketId] != 0)
{
    int bracket = Model.Bracket.brackets[bracketId];
    Alliance alliance = Model.Alliances.Where(t => t.number == Model.Bracket.brackets[bracketId]).FirstOrDefault();
    if (alliance != null)
    {
        foreach (RegisteredTeam team in alliance.teams)
        {
            //string teamName = string.Empty;
            //RegisteredTeam fullTeamInfo = Model.RegisteredTeams.Where(t => t.number == team.number).FirstOrDefault();
            //if (fullTeamInfo != null) { teamName = fullTeamInfo.nameShort; }
            string css = "";
            if (classes.ContainsKey(team.number)) { css = classes[team.number]; }
                <div class="@css">
                    &nbsp;@team.number.ToString("#")
                    @*@if (bracketId.StartsWith("q"))
                    { <span class="teamName"> @teamName</span>}*@
                </div>
            }
        }
    }
}
@helper BracketProgress(string bracketIdFrom, string bracketIdTo, string direction)
{
    if (Model.Bracket.brackets[bracketIdTo] != 0 && Model.Bracket.brackets[bracketIdTo] == Model.Bracket.brackets[bracketIdFrom])
    {
        if (direction == "right")
        {<div class="arrow_right"></div>}
        else
        {<div class="arrow_left"></div>}
    }
}