@using FRCGroove.Lib.Models
@using FRCGroove.Web.Models
@model SortedDictionary<int, ScoutingAssignment>
@{
    Layout = "";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Styles.Render("~/Content/css")

    <style>
        body {
            padding: unset;
        }

        thead, th {
            position: sticky;
            top: 0;
            z-index: 1
        }
    </style>
</head>
<body>
    <table class="table table-striped table-bordered table-sm">
        <thead class="thead-dark">
            <tr>
                <th>Match</th>
                <th>Teams</th>
            </tr>
        </thead>
        <tbody>
            @{ foreach (int match in Model.Keys)
                {
                    ScoutingAssignment s = Model[match];
                    <tr>
                        <td>
                            @match<br />
                            <span style="font-size: x-small">(@s.MatchScheduleTime.ToString("t"))</span><br />
                            <span style="font-size: small">@s.Teams.Count teams</span>
                        </td>
                        <td>@Html.Raw(String.Join("<br />", s.Teams.Select(t => t.teamNumber + " " + t.nameShort)))</td>
                    </tr>
                }
            }
        </tbody>
    </table>
</body>
</html>
